<h1 class="heading">
 <a href="/rps-home/player1" style="text-decoration: none;">Rock Paper Scissors</a>
</h1>
<h2 class="sub_heading">
  <a href="/rps-home/player1" style="text-decoration: none;">Rock breaks scissors, scissors cuts paper, paper covers rock!</a>
</h2>
