<h1>
 Rock, Paper, Scissors
</h1>

<h2>
  Rock breaks scissors, scissors cuts paper, paper covers rock
</h2>

<h3>
  Player 1 enter / and then your choice into the browser
</h3>

<h3>
  Player 2 enter / and then your choice into the browser
</h3>

<h1>
  GAME ON!
</h1>
