<h1 class="heading">
 <a href="/rps-home/play" style="text-decoration: none;">Rock Paper Scissors</a>
</h1>
<h2 class="sub_heading">
  Rock breaks scissors, scissors cuts paper, paper covers rock!
</h2>
