<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="style" href="/css/style.css">
  <title>Rock, Paper, Scissors</title>
</head>
<body>
  <h1><%= yield %></h1>
  <div class="img">
    <a href="/rps-home">
      <img src='https://cdn-s.acuityscheduling.com/logo17399720.jpg?1553035978&whiteBg=1&rectangular=1' alt="">
    </a>
  </div>
</body>
</html>
