<h1 class="heading">
  <a href="/rps-home/player1/player2" style="text-decoration: none;">Rock Paper Scissors</a>
</h1>
<h2 class="sub_heading">
  <a href="/rps-home/player1/player2" style="text-decoration: none;">Player 1 enter /choice into the address bar!</a>
</h2>
