<h1 class="heading">
 <a href="/rps-home" style="text-decoration: none;">Rock Paper Scissors</a>
</h1>
<h2 class="sub_heading">
  <a href="/rps-home" style="text-decoration: none;">Both players enter now - press return to SHOOT!</a>
</h2>
